<div id="home">
  <h1>Lincoln Programming Club</h1>
  <p>Learn to code, work on interesting projects, and have fun.</p>
  <span>Interested in joining? Sign up now!</span>
  <form action="/member/new" method="post">
    <input id="form-name" placeholder="Steve" name="name">
    <input id="form-email" placeholder="your@email.com" name="email">
    <input id="form-phone" placeholder="5037105705" name="phone">
    <input type="submit" id="member-save">
  </form>
</div>
