<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Lincoln Programming</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
  </head>
  <body>
    <% unless flash[:errors].nil? %>
      <div id="errors">
        <%= 'ERRORS: ' + flash[:errors] %>
      </div>
    <% end %>
    <%= yield %>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '523bebb7f5a1f54169000033');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  </body>
</html>
